html, body {
    height: 100%;
    
}


.a {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.div2 > img {
    width: 300px;
    border-radius: 49%;
    border: 5px solid rgb(168, 42, 42);
    text-align: center;
}