.body,html {
    background-image: url(WhatsApp\ Image\ 2023-07-15\ at\ 22.38.36.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  0% 0%;
}

.p1 {
    color: white;
    display: inline-block;
    height: 50%;
    

    
}

